
{% extends 'base/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
    <div class="col-md-4 text-left abc">
        <div class="card-body">
            <p class="h2 offset-md-3 text-success">Login</p>
            <form method="post" style="margin-top: 1.3em;">
            {{form.as_p}}
            {% csrf_token %}
            <input class="btn" style="background-color: #28A745; color: white;" type="submit" value="Log In">  
        </form>
    </div>
</div>
<div class=" offset-md-1 col-md-5 signup">
    <p id="signtxt">Login to your account to benefit from our different service plans. feel free to Signup if you do not have account yet </p>
    <a href="{% url 'Register:index' %}"><button class="btn btn-success">Sign Up</button></a>
  </div>
<div class="offset-md-2"></div>

</div>                  
{% endblock %}
