
{% extends 'base/base.html' %}

{% block content %}
<div class="row" style="margin-top: -10px;">
  <div class="col-md-7 text-left abcd">
      <!-- Default form login -->
      {% if submitted %}
            <p class="success">
               Your message was submitted successfully. Thank you.
           </p>
      {% else %}

      <form method="post">
          <p class="h2 offset-md-3 text-success">Request Support</p>
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button class="btn  btn-block btn-success" type="submit">Request</button> 
    </form>
    {% endif %}
                </div>
                
                <div class=" offset-md-1 col-md-4 signup">
                  <p id="signtxt">Please fill the form to request our maintenance team. Our technicians provide full service.</p>
                  <submit class="btn btn-success">Home</submit>
                </div>
                <div class="offset-md-2"></div>
                     
{% endblock %}
