
{% extends 'base/base.html' %}

{% block content %}

              <div class="row">
                <div class="col-md-7 text-left abc">
                    <!-- Default form login -->
                    <form action="#!">
                        <p class="h2 offset-md-3 text-success">Support Request</p>

                         <label for="mail" class="in">Username</label> 
                         <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter Username"> 
                         
                        <label for="mail" class="in">Request</label> 
                         <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter your issue"> 

                        <label for="mail" class="in">Location</label> 
                         <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter Your Location"> 
                       
                        <button class="btn2  btn-block btn-success" type="submit">Request</button> 
                       
                    </form>
                </div>
                
                <div class=" offset-md-1 col-md-4 signup">
                  <p id="signtxt">Please fill the form to request our maintenance team. Our technicians provide full service.</p>
                  <submit class="btn btn-success">Home</submit>
                </div>
                <div class="offset-md-2"></div>
                     
{% endblock %}
