{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>LYNN</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/chat_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.convform.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="transparent">
        <nav class="navbar  navbar-expand-lg navbar-white bg-white">
            <a href="{% url 'Home:index' %}"><img src="{% static 'images/logo.jpg' %}" width="100px" height="65px" alt="LYNN"></a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class=" offset-md-8 navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'Home:index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Chat:index' %}">Chat</a>
                </li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'Request:index' %}">Request</a>
				</li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'Register:index' %}">Sign Up</a>
                      </li>
              </ul>
              
            </div>
		  </nav>
		  

		  <h2>Chat Messages</h2>
		  	  
	<table width="70%" class="" height="70%"  allign="center" valign="center">
		<tr><td colspan="1" height="3%"> From(Your Name or Id):&nbsp;&nbsp;<input class="form-control mb-3" type="text" name="sender" id="sender"><br></td></tr>
		<tr><td width='85%'>
			<div id="chat_view" >
				
				&nbsp;
			</div>
		</td>
		<td>
			<div>Online Users</div>
			<ul id="users">                   	
			</ul>
		</td>
	</tr>
</table>
<div id="chat_list"></div>
<style type="text/css">
.chat_box{
	border-style:dashed;
	padding: 20px;
	width:300px;
	height:420px;
	float:left;
	border-radius: 20px;

}
#msg{
	width:200px;
	height:200px;
	overflow:auto;
	text-align: right;

}
#new_msg_text
{
	width:200px;
	height:50px;
	resize: none;
	border-radius: 20px;
	margin: 10px;

}
#close_button{
	width:20px;
	height:20px;
	padding-left:2px;
	color: #4CAF50;
	
}
#users{
	text-align: center;
	font-size: 18px;
  	text-transform: uppercase;
	list-style-type: none;
	background-size: 60px;
	background-repeat: no-repeat;
	margin: 10px;

}
#users #online{
	text-align: center;
	font-size: 14px;
  	text-transform: uppercase;
	list-style-type: none;
	width: 100px;
	background-size: 90px;
	background-repeat: no-repeat;

}
#chat_list {
	border-radius: 20px;
}
#me {

	text-align: center;
	border-radius: 30px;

}

#images {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd;
  	border-radius: 4px;
  	width: 40px;
}

#send {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	border-radius: 20px;

}

</style>

<script type="text/javascript" src="{% static 'chat_app/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		window.setInterval(function() {
			viewMsg();
			viewOnlineUsers();
			createNewChatBox();
			
		},1000);
	});
	
	function creatNewBox(receiver)
	{
		var newbox ="<div class='chat_box card no-border' id='chat_box_"+receiver+"'>"+
		"<div id='chat_header'><input class = 'form-control mb-4' type='text' style='width:180px;' name='receiver[]' READONLY value='"+receiver+"' id='receiver'><span onclick='closeWindow($(this))'>X</span></div>"+
		"<div  height='20%' id='msg' >"+
		"<br><br><br></div>"+
		"<div id='newmsg'><textarea class = 'form-control mb-4' rows='3' cols='10' id='new_msg_text'>&nbsp;</textarea></div>"+
		"<div><input class = 'btn  btn-block btn-success' type='button' value='Send' id='btn' onclick='saveMsg($(this))'></div>"+
		"</div>";
		return newbox;
	}
	
	function createNewChatBox()
	{
		var data="sender="+$("#sender").val();
		$.ajax({
			type: 'POST',
			url: 'http://127.0.0.1:8000/get_chat/',
			data: data,
			success: function(data){
				if(data.status=='true')
				{
					$('#chat_list').html('');
					data.data.forEach(function(user,index){
						if(user.sender!='')
						{
							$('#chat_list').append("<input type='text' name='chat_users[]' value='"
								+user.sender+"'>");
							viewBox(user.sender);
						}     
					});

				}
			}	           
		});

	}

	function viewBox(receiver)
	{
		if($.trim($("#sender").val())==$.trim(receiver))
			return;
		$(document).ready(function(){
			var flag=false;
			$("input[name='receiver[]']").each(function(){
				
				if($(this).val()==receiver)
					{flag=true;}
			});
			if(flag==false)$("#chat_view").append(creatNewBox(receiver));           
		});
	}
	
	function viewOnlineUsers()
	{
		var data='sender='+$("#sender").val();
		$.ajax({
			type: 'POST',
			url: 'http://127.0.0.1:8000/view_users/',
			data: data,
			success: function(data){
				if(data.status=="true")
				{ 
					$('#users').html('');
					data.data.forEach(function(user,index){
						if(user.user_id!='')
						{
							
							$('#users').append("<li class = 'card no-border'><img id = 'images' src ='{% static 'images/avatar.png' %}'/> <a onclick=\"viewBox('"+user.user_id+"')\">"
								+user.user_id+"</a><p id= 'online'>Online</p></li>");
						}     
					});

				}
			}
			
		});
		
	}
	function closeWindow(obj)
	{
		obj.parent().parent().remove();
	}
	
	function viewMsg()
	{
		var sender=$("#sender").val();
		$("input[name='receiver[]']").each(function(){
			var receiver=$(this).val();
			var data="sender="+sender+"&receiver="+receiver;
			$.ajax({
				type: 'POST',
				url: 'http://127.0.0.1:8000/view_msg/',
				data: data,
				success: function(data){
					if(data.status=='true')
					{
						$("#chat_box_"+receiver).find("#msg").html('');
						data.data.forEach(function(message,index){
							//alert(message.msg);
							//if(message.user_id!='' && message.msg!='')
							{
								$("#chat_box_"+receiver).find("#msg").append("<table><tr>"
									+"<td>"+message.sender+": "+message.msg+"</td>"
									+"</tr></table>");
							}     
						});

					}
				}
				
			});
		});
	}
	
	function saveMsg(obj)
	{

		var receiver=obj.parent().parent().find("#receiver").val();
		
		var sender=$("#sender").val();
		if(sender=='') return false;
		var msg=obj.parent().parent().find("#new_msg_text").val();
		
		$.ajax({
			type: 'POST',
			url: 'http://127.0.0.1:8000/save_msg/',
			data: {"receiver":receiver,"sender":sender,"msg":msg},
			success: function(){
				obj.parent().parent().find("#new_msg_text").val('');
			}
			
		});
	}
</script>

</body>
</html>