
{% extends 'base/base.html' %}

{% block content %}

<div class="row">
<div class="col-md-7 text-left abcd">
    <!-- Default form login -->
    <form action="#!">
        <p class="h2 offset-md-3 text-success">Sign Up</p>
        <div class="row">
            <div class="col-md-6"> 
                <!-- FName --> <label for="mail" class="in">FirstName</label> <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter First Name">
                <!-- LName --> <label for="mail" class="in">LastName</label> <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter Last Name">
                <!-- Email --> <label for="mail" class="in">Email</label> <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter Email">
            </div >
            <div class="col-md-6"> 
                <!-- Username --> <label for="mail" class="in">Username</label> <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Enter Userna me">
                <!-- Password --> <label for="pass" class="in">Password</label> <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Enter  Password">
                <!-- Password --> <label for="pass" class="in">ConfirmPassword</label> <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholde r="Confirm Password">
            </div>
        </div> 
         <!-- Sign in button --> 
        <button class="btn2  btn-block btn-success" type="submit">Sign Up</button> 
    </form>
</div>
<div class=" offset-md-1 col-md-4 signup">
    <p id="signtxt">Thank You for deciding join us. Your next step should be subscribing to our standard or premium plan in order to benefit more.</p>
    <button class="btn btn-success">More Details</button>
</div>
<div class="offset-md-2"></div>

</div>                  
{% endblock %}
