body {
  font-size: 16px;
  line-height: 1.7;
  background-image: url("../images/4.jpg");
  background-color: #eeefe9;
}
#home{
  margin-top: 7%;
  text-align: center;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#transparent{
  background-color: rgba(27, 28, 29, 0.812);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#signtxt{
  color: #fff;
}
.navbar {
    min-height: 80px;
    background:transparent;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    
  }
  .image {
    background: url(../images/purpalt.png) repeat;
    padding: 442px 15px 60px;
    color: #fff;
}
.intro-block2 {
  padding: 100px 15px 60px;
  color: #000;
}

  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
}}
.row {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%
}

.page {
  margin-top: 0%
}

.btn {
  border-radius: 25px;
  width: 80%;
  margin-top: 2%
}
.btn2 {
  border-radius: 25px;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
}
.btn3 {
  border-radius: 20px;
  font-size: 20px;
  width: 15%;
  height: 15%;
  margin-top: 7%;
  margin-left: 20%;
}

.sign {
  border-radius: 25px;
  width: 25%;
  margin: auto
}

form {
  padding: 0;
  margin: 7%;
}

.abc {
  background-color: #fff;
  border-radius: 20px;
  padding: 2%;
  margin: auto
}
.abcd  {
  background-color: #fff;
  border-radius: 20px;
  padding: 2%;
  margin: auto
}

.xyz {
  background-color: gray;
  padding: 2%
}

.form-control {
  border-radius: 25px
}

.fa {
  color: white;
  margin-top: 5%
}

.in {
  color: #495057;
}

.in2 {
  color: #495057;
  margin-right: auto
}

.my {
  background-color: #bcc2be;
  border: none
}

.custom-control {
  margin-bottom: 2%
}

h2.account-text {
  color: #fff !important;
  font-weight: 200
}

.account-description {
  color: #fff;
  margin-bottom: 4%;
  font-weight: 200
}

@media only screen and (max-width: 600px) {
  row {
      margin-top: 5%;
      margin-left: 1%;
      margin-right: 1%
  }
}
.page-footer{
  background-color: #1B1C1D;
  color: white;
}
.footer-copyright {
  background-color: #1B1C1D;
}
.footer-copyright a{
  color: #fff;
}

.signup {
  margin-top: 150px;
  margin-left: 30px;
}
.navbar .navbar-brand{
  color:#28A745;
}
.navbar ul li a{
  color:#28A745;
}
#fir{
  display: inline-block;
}
#sec{
  display: block;
}